/*basic template*/
nav{
  padding-left: 39vw;
  padding-top: 1.5em;
  background: #E3E3E3;
  height: 3em;
  border-radius: 0.5em;
  a{
    padding: 0.5em;
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 1.25em;
  }
}

.main-display{
  margin-left: 25vw;
  height: 55vh;
  width: 50vw;
  border: 1px solid black;
  background-image: url("../img/coffee.jpg");
  background-size: cover;
  opacity: 0.8;
  border-radius: 0.5em;
}

.main-name{
  margin-top: 15vh;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 7em;
  color: white;
}

// #B68200

.main-display--opacity{
  opacity: 1;
}

/*about/contact basic layout*/
.about-div{
  margin-left: 20vw;
  width: 60vw;
  height: 30vh;
  background: #E3E3E3;
  border-radius: 0.5em;
}

.p{
  padding-top: 2em;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  color: white;
}

.contact-div{
  padding-top: 3vh;
  margin-left: 20vw;
  width: 60vw;
  height: 20vh;
  background: #E3E3E3;
  border-radius: 0.5em;
}

table{
  border: 5px solid white;
  border-radius: 0.5em;
  font-family: 'Comfortaa', cursive;
  color: white;
  margin-left: 18vw;
}

.main-project{
  width: 95vw;
  min-height: 100vh;
  border-radius: 0.5em;
  margin-left: 2vw;
  background: #E3E3E3;
  padding-bottom: 0.5em;
}

.main-project::after{
  content: '';
  display: table;
  clear: both;
}

footer{
  padding-left: 44vw;
  i{
    color: #B9B9B9;
    padding: 0.25em;
  }
}

.p1{
  font-family: 'Comfortaa', cursive;
  color: #B9B9B9;
}

.project-box{
  width: 30vw;
  height: 30vw;
  border: 3px solid white;
  float: left;
  margin-left: 1em;
  margin-top: 1em;
  border-radius: 0.5em;
}

.img-box{
  height: 50%;
  width: 60%;
  border: 2px solid white;
  border-radius: 0.5em;
  margin-left: 20%;
  margin-top: 3%;
}

.txt-box{
  height: 40%;
  width: 80%;
  border: 2px solid white;
  border-radius: 0.5em;
  margin-left: 10%;
  margin-top: 3%;
  text-align: center;
}

.view-btn{
  font-family: 'Comfortaa', cursive;
  height: 5vh;
  width: 10vw;
  border: 3px solid white;
  border-radius: 0.5em;
  color: #B9B9B9;
  font-size: 1.2em;
}

.p2{
  font-family: 'Comfortaa', cursive;
  color: white;
}
